<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>about</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    

    <link rel="stylesheet" href="/style.css">

</head>
<body>
    
<!--header section starts-->
<section class="header">

<a href="/about" class="logo">
         <img src="imagess/dapink.png" alt="DestinationAnywhere">
     <nav class="navbar">
        <a href="/home">home</a>
        <a href="/about">about</a>
        <a href="/package">package</a>
        <a href="/book">book</a>
        <a href="/contact">contact</a>
        <a href="/">login</a>
     </nav>   

     <div id="menu-btn" class="fas fa-bars"></div>
</section>


<!--header section ends-->
<div class="heading" style="background:url(imagess/editpic.jpeg); opacity:0.8;">
<h1>about us </h1>
</div>

<!--about section starts-->

<section class="about">
    <div class="image">
        <img src="imagess/girlwithdog1.jpeg">
</div>

    <div class= "content">
        <h3>why choose us?</h3>
        <p>Your trusted partner in creating unforgettable travel experiences. We are a team of passionate travel enthusiasts dedicated to making your journeys extraordinary. Whether you're a globetrotter, a weekend explorer, or a business traveler, we're here to make your travel dreams a reality. We're delighted to be part of the Vivekanand Institute of Technology, where we aim to provide you with valuable insights into the exciting world of Travel Management. As we embark on our journey in our second year, we are enthusiastic beginners, eager to support your 
        educational goals. Our mission is to introduce you to the diverse and dynamic fields within Travel Management. We're here to help you build a strong foundation and prepare you for potential careers in these industries. Our approach to learning may be virtual, but our commitment to delivering practical, up-to-date, and engaging content remains unwavering.</p>
        <div class="icons-container">
        <div class="icons">
            <i class="fas fa-map"></i>
            <span>top destinations</span>
        </div>
         <div class="icons">
            <i class="fas fa-hand-holding-usd"></i>
            <span>affordable price</span>
         </div>
         <div class="icons">
            <i class="fas fa-headset"></i>
            <span>24/7 guide services</span>
        </div>
    </div>
</div>
</section>
<!--about section starts-->



<!--reviews section starts-->

<section class="reviews">
    <div class="swiper reviews-slider">
        <div class="swiper-wrapper">
            <div class="swiper-slide slide">
               <div class="stars">

                 <i class="fas fa-star"></i>
                 <i class="fa fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>
                 <i class="fas fa-star"></i>

               </div>
               <p>"Mesmerizing Agra! DestinationAnywhere made my visit to the Taj Mahal a dream come true. The beauty and grandeur of this iconic monument left me speechless. A must-visit destination for history buffs and romantics alike!</p>
               <span>John Rivera</span>
               <img src="imagess/person1.jpg" alt="">
              </div>

              <div class="swiper-slide slide">
              <div class="stars">

             <i class="fas fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>

             </div>
             <p>Magical Manali! Thanks to DestinationAnywhere, my trip to Manali was nothing short of enchanting. From snow-capped mountains to lush valleys, every corner of this picturesque town was a sight to behold. Can't wait to return!</p>
             <span>Emily Patel</span>
             <img src="imagess/person2.jpg" alt="">
             </div>
             <div class="swiper-slide slide">
             <div class="stars">
             
             <i class="fas fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>

             </div>
             <p>Ladakh - Land of the Lamas! DestinationAnywhere helped me discover the rugged beauty and spiritual tranquility of Ladakh. The majestic landscapes, serene monasteries, and warm hospitality of the locals left an indelible mark on my soul.</p>
             <span>Liam Singh</span>
             <img src="imagess/person3.jpg" alt="">
             </div>
             <div class="swiper-slide slide">
             <div class="stars">
            
             <i class="fas fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>

             </div>
             <p>Goa - Where Every Moment Is a Celebration! DestinationAnywhere curated the perfect beach getaway for me in Goa. From vibrant beach parties to serene sunsets, Goa has something for everyone. A paradise for beach lovers and adventure seekers!</p>
             <span>Noah Kumar</span>
             <img src="imagess/person4.jpg" alt="">
             </div>
             <div class="swiper-slide slide">
             <div class="stars">
             
             <i class="fas fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>

             </div>
             <p>High on Himalayan Adventure! Thanks to DestinationAnywhere, I embarked on an epic journey through the Himalayas. The towering peaks, pristine lakes, and serene landscapes took my breath away. An unforgettable experience for nature enthusiasts and thrill-seekers!</p>
             <span>Mia Sharma</span>
             <img src="imagess/person5.jpg" alt="">
             </div>
             <div class="swiper-slide slide">
             <div class="stars">
             
             <i class="fas fa-star"></i>
             <i class="fa fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>
             <i class="fas fa-star"></i>

             </div>
             <p>Historic Charms of Hyderabad! DestinationAnywhere guided me through the rich history and cultural heritage of Hyderabad. From majestic forts to mouthwatering cuisine, every moment in this vibrant city was a delightful discovery. A must-visit destination for history buffs and foodies alike!</p>
             <span>Ava Mehta</span>
             <img src="imagess/person6.jpg" alt="">
             </div>
            </div>
          </div>
          </section>
          <!--<div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>        -->  









<!--reviews section ends-->

<!-- footer section starts-->
<section class ="footer">
  
  <div class="box-container">

    <div class="box">
       <h3>quick links</h3>
       <a href="/home"><i class="fas fa-angle-right"></i> home</a>
       <a href="/about"><i class="fas fa-angle-right"></i> about</a>
       <a href="/package"><i class="fas fa-angle-right"></i> package</a>
       <a href="/book"><i class="fas fa-angle-right"></i> book</a>
    </div>

    <div class="box">
       <h3>extra links</h3>
       <a href="#"><i class="fas fa-angle-right"></i> ask question</a>
       <a href="#"><i class="fas fa-angle-right"></i> about us</a>
       <a href="#"><i class="fas fa-angle-right"></i> privacy policy</a>
       <a href="#"><i class="fas fa-angle-right"></i> terms of use</a>
       </div>

<div class="box">
   <h3>follow us</h3>
   <a href="#"><i class="fas fa-facebook-f"></i> facebook</a>
   <a href="#"><i class="fas fa-twitter"></i> twitter</a>
   <a href="#"><i class="fas fa-instagram"></i> instagram</a>
   <a href="#"><i class="fas fa-linkedin"></i> linkedin </a>
</div>

</div>

<div class="credit"> created by <span>Group 40</span>| all right reserved! </div>

</section>


<!-- footer section ends -->

<!--<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>-->

<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<script src="./views/src/script.js"></script>
<script src="./views/src/index.js"></script>
<!--<script>
   /* var swiper = new Swiper(".reviews .reviews-slider",{
        loop:true,
        spaceBetween: 20,
        autoHeight:true,
        grabCursor:true,
        breakpoints: {
            640:{
                slidesPerView: 1,
            },
            768:{
                slidesPerView: 2,
            },
            1024{
                slidesPerView: 3,
            },
        }
    })
        // Initialize Swiper
        var swiper = new Swiper(".review .reviews-slider", {
        loop: true,
        navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
        },
    }); */
</script>
<script>
    // Initialize Swiper
    var swiper = new Swiper('.reviews-slider', {
        slidesPerView: 1,
        spaceBetween: 30,
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>-->
<script>
    var swiper = new Swiper(".reviews-slider", {
        loop: true,
        spaceBetween: 20,
        autoHeight: true,
        grabCursor: true,
        breakpoints: {
            640: {
                slidesPerView: 1,
            },
            768: {
                slidesPerView: 2,
            },
            1024: {
                slidesPerView: 3,
            },
        },
    });
</script>

</body>
</html>